<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>Aplicatie AWJ</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
	<div class="container">
		<nav class="navbar  navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="">AWJ Base Project</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#Persoana">Persoana</a></li>
						<li><a href="#Produs">Fruct</a></li>
						<li><a href="#Angajat">Elev</a></li>
						<li><a href="#Student">Cetatean</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<hr/>
	<div class="container">
		<div ng-controller="HomeController">  
		   <h1 ng-click="doStuff()">{{ helloWorld }}</h1>
		</div>
	</div>
	<hr/>
	<div class="container" ng-controller="HomeController">
    <h1><a name ="Persoana">Persoana</a></h1>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in persoane.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.denumire }}</td>

        <td>
          <a href="">
             <span data-toggle="modal" data-target="#myModal" class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>

          <a href="#Edit">
          <button ng-click="setUpdatePerson(item)" class="btn btn-info btn-xs">
              Edit
         </button>
          </a>

          <button ng-click="deletePersoana(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2 align="right">Adauga o persoana</h2>
    <table align="right">
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="person.id"/></td>
      </tr>
      <tr>
        <td>Nume</td>
        <td><input type="text" class="form-control" ng-model="person.denumire"/></td>
      </tr>
      <tr>
       
        <td colspan="2">
          <button ng-click="addPersoana(person)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>

    <a name="Edit">
    <h2>Editeaza o persoana</h2></a>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editPerson.id"></td>
      </tr>
      <tr>
        <td>Denumire</td>
        <td><input type="text" ng-model="editPerson.denumire"></td>
      </tr>
      
      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updatePerson()">
            Update
          </button>
        </td>
      </tr>
    </table>



	


<div class="container" ng-controller="HomeController">
    <h1><a name ="Elev">Elev</a></h1>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in elevi.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.denumire }}</td>

        <td>
          <a href="">
             <span data-toggle="modal" data-target="#myModal" class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>

          <a href="#Edit">
          <button ng-click="setUpdateElev(item)" class="btn btn-info btn-xs">
              Edit
              <span  class="glyphicon glyphicon-edit"></span>
          </button>
          </a>

          <button ng-click="deleteElev(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2 align="right">Adauga un elev</h2>
    <table align="right">
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="elev.id"/></td>
      </tr>
      <tr>
        <td>Denumire</td>
        <td><input type="text" class="form-control" ng-model="elev.denumire"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button ng-click="addElev(elev)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <a name="Edit">
    <h2>Editeaza un elev</h2></a>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editElev.id"></td>
      </tr>
      <tr>
        <td>Denumire</td>
        <td><input type="text" ng-model="editElev.denumire"></td>
      </tr>

      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updateElev()">
            Update
          </button>
        </td>
      </tr>
    </table>

	
	
	
	 <div class="container" ng-controller="HomeController">
    <h1><a name ="Fruct">Fruct</a></h1>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in fructe.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.denumire }}</td>

        <td>
          <a href="">
             <span data-toggle="modal" data-target="#myModal" class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>

          <a href="#Edit">
          <button ng-click="setUpdateFruct(item)" class="btn btn-info btn-xs">
              Edit
              <span  class="glyphicon glyphicon-edit"></span>
          </button>
          </a>

          <button ng-click="deleteFruct(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2 align="right">Adauga un fruct</h2>
    <table align="right">
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="fruct.id"/></td>
      </tr>
      <tr>
        <td>Denumire</td>
        <td><input type="text" class="form-control" ng-model="fruct.denumire"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button ng-click="addFruct(fruct)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <a name="Edit">
    <h2>Editeaza un fruct</h2></a>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editFruct.id"></td>
      </tr>
      <tr>
        <td>Denumire</td>
        <td><input type="text" ng-model="editFruct.denumire"></td>
      </tr>

      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updateFruct()">
            Update
          </button>
        </td>
      </tr>
    </table>
	
	
	
	<div class="container" ng-controller="HomeController">
    <h1><a name ="Cetatean">Cetatean</a></h1>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in elevi.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.denumire }}</td>

        <td>
          <a href="">
             <span data-toggle="modal" data-target="#myModal" class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>

          <a href="#Edit">
          <button ng-click="setUpdateCetatean(item)" class="btn btn-info btn-xs">
              Edit
              <span  class="glyphicon glyphicon-edit"></span>
          </button>
          </a>

          <button ng-click="deleteCetatean(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2 align="right">Adauga un cetatean</h2>
    <table align="right">
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="cetatean.id"/></td>
      </tr>
      <tr>
        <td>Denumire</td>
        <td><input type="text" class="form-control" ng-model="cetatean.denumire"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button ng-click="addCetatean(cetatean)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <a name="Edit">
    <h2>Editeaza un cetatean</h2></a>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editCetatean.id"></td>
      </tr>
      <tr>
        <td>Denumire</td>
        <td><input type="text" ng-model="editCetatean.denumire"></td>
      </tr>

      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updateCetatean()">
            Update
          </button>
        </td>
      </tr>
    </table>
	
	<div class="modal fade" tabindex="-1" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Metoda Open</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
	

  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
	   <p class="text-muted pull-right">Prisecariu Bogdan 333AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>